<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="topbar" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <button type="button" class="btn btn-primary">Empleados</button>

            <button type="button" class="btn btn-primary">Historial</button>


            <button type="button" class="btn btn-primary">Reportes</button>

        </div>

    </div>
</nav>
<img src="../../static/imgs/travel_trip_logo.png">
</body>
</html>