<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Empleados Totales</title>
    <button type="button" class="btn btn-primary">Nuevo Empleado</button>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <table class="table table-striped" id="userList">
            <thead class="bg-200">
            <tr>
                <th class="sort align-middle" style="width: 30%">#</th>
                <th class="sort align-middle" style="width: 20%">Nombre</th>
                <th class="sort align-middle" style="width: 20%">Apellido</th>
                <th class="sort align-middle" style="width: 20%">Puesto</th>
                <th class="sort align-middle" style="width: 10%">Departamento</th>
                <th class="sort align-middle" style="width: 10%">Ciudad</th>
                <th class="sort align-middle" style="width: 10%"></th>
                <th class="sort align-middle" style="width: 10%"></th>
            </tr>
            </thead>
            <tbody class="bg-white">
            <tr th:each="empleado, info : ${empleadosList}">
                <td th:text="${empleado.id - 99}" class="align-middle"></td>
                <td th:text="${empleado.firstName}" class="align-middle"></td>
                <td th:text="${empleado.lastName}" class="align-middle"></td>
                <td th:text="${empleado.job.jobTitle}" class="align-middle"></td>
                <td th:text="${empleado.department.departmentName}" class="align-middle"></td>
                <td th:text="${empleado.department.location.city}" class="align-middle"></td>
                <td class="align-middle">
                    <!-- A esto me referia con opciones-->
                    <div class="dropdown font-sans-serif">
                        <div class="form-group" align="center">
                            <button type="button" class="btn btn-secondary" style="text-align: center;background: #2F96B4;
                                border-radius: 15px; border-color: #FFFFFF; width: 100px">Editar</button>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <!-- A esto me referia con opciones-->
                        <div class="form-group" align="center">
                            <a th:href="@{'/recursoshumanos/empleados/delete?id=' + ${empleado.id}}" class="btn btn-secondary" style="text-align: center;background: #BD362F;
          border-radius: 15px; border-color: #FFFFFF">Borrar</a>
                        </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/lib/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/lib/datatables-bs4/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables.net-responsive/dataTables.responsive.js}"></script>
<script th:src="@{/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js}"></script>
<script th:src="@{/lib/datatables-buttons/dataTables.buttons.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.flash.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/jszip.min.js}"></script>
<script th:src="@{/lib/datatables-buttons/buttons.html5.min.js}"></script>

<!-- Initialize DataTable in JavaScript -->
<script>
    $(document).ready(function () {
        //Esta busacando por el ID del tah <table>
        //para que entiendan bien lo que se está haciendo, leer la documentación de datatable
        $('#userList').DataTable({
            dom: "<'d-flex justify-content-end pb-4'B>\n" +
                "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n" +
                "<'table-responsive'tr>\n" +
                "<'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
            language: {
                processing: "Procesando...",
                lengthMenu: "Mostrar  _MENU_  usuarios",
                zeroRecords: "No se encontraron usuarios",
                emptyTable: "No hay usuarios",
                info: "Mostrando usuarios del _START_ al _END_ <br>Total _TOTAL_ usuarios",
                infoEmpty: "Mostrando usuarios del 0 al 0 <br>Total 0 usuarios",
                infoFiltered: "(filtrado de un total de _MAX_ usuarios)",
                loadingRecords: "Cargando...",
                search: "Buscar:",
                paginate: {
                    previous: '<i class="fa fa-lg fa-angle-left mr-2"></i>Anterior',
                    next: 'Siguiente<i class="fa fa-lg fa-angle-right ml-2"></i>'
                }
            },
            autoWidth: false,
            lengthMenu: [
                [10, 25, 50, -1], [10, 25, 50, "Todos"]
            ],
            buttons: [
            ]
        });
    });
</script>
</body>
</html>